<style>
    .TextoAlerta {
        color: red;
    }

    .botao {
        margin-left: 94.888%;
    }

    .botao2 {
        margin-right: 94.888%;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function Sacar(clientesNuConta) {
        debugger;
        var url = "@Url.Action("Sacar", "Operacoes")";
        var params = { NuConta: clientesNuConta };
        $.post(url, params, atualiza);

    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }
</script>
<script type="text/javascript">
    function incrementa(clientesNuConta) {
        var url = "@Url.Action("Depositar", "Operacoes")";
        var params = { Nuconta: clientesNuConta };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }
</script>
<script type="text/javascript">
    function remover(clientesNuConta) {
        var url = "@Url.Action("Remove", "Operacoes")";
        var params = { Nuconta: clientesNuConta };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }

</script>
<script type="text/javascript">
    function alterar(clientesNuConta) {
        var url = "@Url.Action("Editar", "Operacoes")";
        var params = { Nuconta: clientesNuConta };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }
    function operacao() {
        alert('Operacão realizada com sucesso');
    }
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<!DOCTYPE html>
<br />
@model IList<WebApplication2.Models.Cliente>
<title>Dados da conta</title>
<div class="card text-center">
    <div class="card-header">
        Dados da Conta
    </div>
    <div class="card-body">

        <label for="nuconta"> Numero da conta:       <b>@ViewBag.Cliente.NuConta </b> </label>
        <p></p>

        <label for="nome">Nome  :   <b>@ViewBag.Cliente.Nome</b></label>
        <p></p>
        <label for="saldo">
            Saldo: R$   <b>@ViewBag.Cliente.Saldo","</b>

        </label>

        <p></p>
        <p></p>



        <br />

        <div class="card-footer text-muted">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExemplo">
                Sacar
            </button>

            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sacar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/Operacoes/Sacar" method="post">
                                <label for="nuconta"> Numero da conta:      </label>
                                <input id="nuconta" name="NuConta" value="@ViewBag.Cliente.NuConta " class="form-control" readonly />
                                <br />

                                <label for="saldo">Valor a sacar :</label>

                                <input type="number" required="required" id="Saque" name="Saque" class="form-control" pattern="[0-9]+$" onfocus="this.value='0';" />
                                <h6 class="TextoAlerta">NOTAS DISPONIVEIS PARA SAQUE: R$100, R$50, R$20, R$10.</h6>
                                <br />
                                <input type="submit" value="Sacar" />


                            </form>
                        </div>
                        <div class="modal-footer">

                            <div>



                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>