
<style>
    .TextoAlerta {
        color: red;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function decrementa(clientesNuConta) {
        var url = "@Url.Action("Sacar", "Operacoes")";
        var params = { Nuconta: clientesNuConta };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }
</script>
<script type="text/javascript">
    function incrementa(clientesNuConta) {
        var url = "@Url.Action("Depositar", "Operacoes")";
        var params = { Nuconta: clientesNuConta };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }
</script>
<script type="text/javascript">
    function remover(clientesNuConta) {
        var url = "@Url.Action("Remove", "Operacoes")";
        var params = { Nuconta: clientesNuConta };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }

</script>
<script type="text/javascript">
    function alterar(clientesNuConta) {
        var url = "@Url.Action("Editar", "Operacoes")";
        var params = { Nuconta: clientesNuConta };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#saldo" + resposta.NuConta);
        elemento.html(resposta.Saldo);
    }

</script>
<br />
@model IList<WebApplication2.Models.Cliente>

@Html.AntiForgeryToken()
<table class="table table-hover">

    <thead class="thead-dark">


        <tr>
            <th>Numero da Conta</th>
            <th>Nome do Cliente</th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>

    <tbody>

        @foreach (var clientes in Model)
        {
            <tr>
                <td>@clientes.NuConta</td>
                <td>
                    @Html.RouteLink(clientes.Nome, "Visualiza", new { Nuconta = clientes.NuConta })
                </td>
                <td>
                    <h6 class="TextoAlerta">Para acessar sua conta " Selecione o nome " </h6>
                </td>
                @*<td id="saldo@(clientes.NuConta)">R$:@clientes.Saldo</td>*@

                @*<td><a href="" onclick="decrementa(@clientes.NuConta)"> - </a></td>
                    <td>
                        <input  href="decrementa(@clientes.NuConta)" id="Saldo" name="Saldo" type="submit" class="form-control" />
                    </td>

                    <td><a class="form-control" href="" onclick="incrementa(@clientes.NuConta)"> + </a></td>
                    <td><a href="" onclick="remover(@clientes.NuConta)"> Deletar</a></td>

                    <td></td>
                    <td></td>*@
                @*<td>
                        @Html.ActionLink("Alterar", "Editar")
                    </td>*@
                @*<td><a href="" onclick="editar(@produto.Id)">@Html.ActionLink("Editar", "editar", "Produto/FormEditar")</a></td>*@


            </tr>

        }

    </tbody>



</table>






<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



<br />
<br />
<br />

<br />
<br />
<br />
<br />
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

